<h2>Edit for <%= @team.name %></h2>

<form method="POST" action="/team/:id">
<h3>Team Name:</h3><input type="text" name="name" required/>
<br>
<h3>Captian:</h3>
    <% @captians.each do |cap| %>
      <input type="radio" name="captian_id" id="<%= cap.id %>" value="<%= cap.id %>"/>
      <%= cap.name %> 
      <br>
      <% end %>
<br>
<h3>Mascot:</h3>
    <% @mascots.each do |mas| %>
      <input type="radio" name="mascot_id" id="<%= mas.id %>" value="<%= mas.id %>"/>
      <%= mas.name %> 
      <br>
      <% end %>
<br>
<h3>Squaddies:</h3>
    <h5>position 1:</h5>
    <% @squaddies.each do |squad| %>
      <input type="radio" name="squaddie_1_id" id="<%= squad.id %>" value="<%= squad.id %>"/>
      <%= squad.name %> 
      <br>
      <% end %>
      <br>

    <h5>position 2:</h5>
    <% @squaddies.each do |squad| %>
      <input type="radio" name="squaddie_2_id" id="<%= squad.id %>" value="<%= squad.id %>"/>
      <%= squad.name %> 
      <br>
      <% end %>
      <br>

    <h5>position 3:</h5>
    <% @squaddies.each do |squad| %>
      <input type="radio" name="squaddie_3_id" id="<%= squad.id %>" value="<%= squad.id %>"/>
      <%= squad.name %> 
      <br>
      <% end %>
      <br>

    <h5>position 4:</h5>
    <% @squaddies.each do |squad| %>
      <input type="radio" name="squaddie_4_id" id="<%= squad.id %>" value="<%= squad.id %>"/>
      <%= squad.name %> 
      <br>
      <% end %>
      <br>
    
    <input type="submit" value="Create Team"/>
</form>