<h3>This is <%=@current_user.username%>'s team page.</h3>

<% @teams.each do |team| %>
    <%=team.name%> 
     <a href="/teams/<%=team.id%>">View</a>
     <a href="/teams/<%=team.id%>/edit">Edit</a>
     <a href="/teams/<%=team.id%>/delete">Delete</a>
   
    <br>
    
<% end %>
<br>
<br>
<a href="/build-new-team">Build New Team</a>
