<h2>Team page for <%=@picked_team.name%></h2>
Captian: <%= @picked_team.captian.name%>
<br>
Mascot: <%= @picked_team.mascot.name%>
<br>
Squaddie 1: <%= @picked_team.squaddie_1.name%>
<br>
Squaddie 2: <%= @picked_team.squaddie_2.name%>
<br>
Squaddie 3: <%= @picked_team.squaddie_3.name%>
<br>
Squaddie 4: <%= @picked_team.squaddie_4.name%>

<br>
<br>
<a href="/teams">My Teams</a>