<h2>Team page for <%=@picked_team.name%></h2>
Captian: <%= @captian.name%>
<br>
Mascot: <%= @mascot.name%>
<br>
Squaddie 1: <%= @squaddie_1.name%>
<br>
Squaddie 2: <%= @squaddie_2.name%>
<br>
Squaddie 3: <%= @squaddie_3.name%>
<br>
Squaddie 4: <%= @squaddie_4.name%>

<br>
<br>
<a href="/teams">My Teams</a>